html {
  font-size: 10px;
}

body {
  font-family: "Poppins", Avenir, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

h3 {
  margin-top: 10px;
}

p {
  text-align: left;
  font-size: 1.2em;
}

a {
  color: #5378e8;
}

a.return {
  position: fixed;
  left: 2%;
  top: 0%;
  padding: 20px;
  text-decoration: none;
  font-size: 1.4em;
}

i {
  margin-right: 10px;
}

#icon {
  border-radius: 18px;
  height: 90px;
}

.header {
  padding-top: 5%;
  text-align: center;

}
#main {
  border-radius: 5px;
}

article {
  max-width: 1000px;
  margin: 0 auto; 
}

.summary{
  padding: 40px;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.inlineimage {
  display: flex;
  padding-top: 5px;
  padding-bottom: 0px;
}

.flex-item {
  width: 50%;
  height: 50%;
}

.vertical-phone {
  height: 100%;
  max-height: 450px;
}

.horizontal-phone {
  text-align: center;
  height: 100%;
  max-height: 380px;
}

.blocktext {
  font-size: 1.8em;
  font-style: italic;
  color: #E16262;
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#developer {
  background-color: #E16262;
  padding: 20px 50px 20px 50px;
  border-radius: 50px;
}

#video {
  border-radius: 50px;
  width: 75%;
  margin: 0 auto;
  background-color: #5378e8;
}

.videoContainer {
  
  text-align: center;
}
.developer {
  color: white;
}

#footer {
  height: 110px; 
}
